{% extends "base-layout.html" %}
{% load static %}

{% block title_content %}Category List{% endblock title_content %}

{% block static_content %}
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.7/css/dataTables.bootstrap5.min.css"/>
<link rel="stylesheet"href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css"/>
{% endblock static_content %} 


{% block content %}
<div class="mt-3">
    <button type="button" class="btn btn-primary mb-3" data-toggle="modal" data-target="#add-category" style="float: right;">ADD NEW</button>
    {% include 'category/add.html' %}
    <div id="categories-responce-data">
        {% include "category/category_list.html" %}
    </div>
</div>

{% endblock content %} 


{% block js_content %}

<script>

    $(document).ready(()=>{
        var i = 0;

        function check_validation(i){
            let name = $(`#row-${i} [name="name"]`).val();
            let description = $(`#row-${i} [name="description"]`).val();
            
            if (description.trim() === "" && name.trim() === "") {
                $(`#name-error-${i}`).text("Name is required").show();
                $(`#description-error-${i}`).text("Description is required").show();
            } else {
                $(`#name-error-${i}`).hide();
                $(`#description-error-${i}`).hide();
            }

            if (name.trim() === "") {
                $(`#name-error-${i}`).text("Name is required").show();
            } else {
                $(`#name-error-${i}`).hide();
            }
            
            if (description.trim() === "") {
                $(`#description-error-${i}`).text("Description is required").show();
            } else {
                $(`#description-error-${i}`).hide();
            }
            
            if (name.trim() === "" || description.trim() === "") {
                return false;
            }
        }

        function lastrownumber() {
            let numRows = $('#dynamicadd tr').length;
            let lastRowId;
            $('#dynamicadd tr').each(function() {
                lastRowId = $(this).attr('id');
            });
            const parts = lastRowId.split('-');
            return parts[1];
        }
        
        $('#add').click(()=>{
            lastid = lastrownumber()
            if (check_validation(lastid) == false){
                return false;
            }
            i++;
            $('#dynamicadd').append(`
            <tr id="row-${i}">
                <td ><input type="text" class="form-control" name="name" >
                    <p class="text-danger" id="name-error-${i}"></p></td>
                <td><input type="text" class="form-control" name="description" >
                    <p class="text-danger" id="description-error-${i}"></p></td>
                <td><button  id="${i}" class="form-control bg-danger btn btn_remove"><span class="text-light font-weight-bold">&PlusMinus;</span></button></td>
            </tr>`
            )
        });

        $(document).on('click','.btn_remove',function(){
            var row_id = $(this).attr('id');
            $('#row-'+row_id).remove();
        })


        $('#save').click(() => {
            console.log("Saving...");
            lastid = lastrownumber()
            if (check_validation(lastid) == false){
                return false;
            }
            var postData = [];

            $('#dynamicadd tr').each(function () {
                var rowId = $(this).attr('id');
                var name = $(`#${rowId} [name="name"]`).val();
                var description = $(`#${rowId} [name="description"]`).val();

                if (name.trim() !== "" && description.trim() !== "") {
                    postData.push({
                        "name": name,
                        "description": description,
                    });
                }
            });

            console.log(JSON.stringify(postData));
            datas = {"datas":postData}
            const headers = {
                'X-CSRFToken':'{{ csrf_token }}',
              };
            axios.post('{% url "sample:categories" %}', datas, {headers}
            ).then((res) => {
                $('#categories-responce-data').html(res.data.template);
                Swal.fire({
                    position: 'top-end',
                    icon: 'success',
                    title: res.data.msg,
                    showConfirmButton: false,
                    timer: 2000
                })
                $("#add-category").find('form').trigger('reset');
                // modal close button click 
                $("#add-category" + " .close").click();
            })
            .catch((error) => {
                Swal.fire({
                    position: 'top-end',
                    icon: 'error',
                    title: error,
                    showConfirmButton: false,
                    timer: 2000
                })
            });


        });
    })
</script>
{% endblock js_content %}



