
<table id="example" class="table table-striped" style="width: 100%">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Created_at</th>
      <th>created_by</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    {% for category  in  categories %}
    <tr>
      <td>{{category.name}}</td>
      <td>{{category.description}}</td>
      <td>{{category.created_at}}</td>
      <td>{{category.created_by}}</td>
      <td>
        <a class="ml-1" href="javascript:void(0)" data-toggle="modal" data-target="#add-category-{{category.id}}" title="Edit"
        data-toggle="tooltip">
        <i class="fa fa-edit color-muted"></i></a>
      
      <a href="#" onclick="" class="ml-1" data-toggle="tooltip" data-placement="top"
        title="Delete"><i class="fa fa-trash-o fa-lg"></i></a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>