
<table class="table">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Quatity</th>
        <th scope="col">Price</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody id="dynamicadd">
      <tr id="row-0">
        <td >
            <input type="text" class="form-control" name="name">
            <p class="text-danger" id="name-error-0"></p>
        </td>
        <td>
          <input type="text" class="form-control" name="quantity">
          <p class="text-danger" id="quantity-error-0"></p>
        </td>
        <td>
          <input type="text" class="form-control" name="price">
          <p class="text-danger" id="price-error-0"></p>
        </td>
        <td>
          <a type="button" id="add" class="form-control bg-success btn"><span class="text-light font-weight-bold">&PlusMinus;</span></a>
        </td>
      </tr>
    </tbody>
</table>